// максимальная ширина контейнера
$container-max-width: 1140px !default;

// растояние между элементами
$grid-gap: 30px !default;
$grid-gap-side: $grid-gap / 2;
$grid-colums: 12 !default;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 22px;
}
//temporary properties
.block {
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 20px;
  text-align: center;
  height: 100%;
}

//container
.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: $grid-gap-side;
  padding-right: $grid-gap-side;

  outline: solid 2px #ddd;
}

//row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap-side;
  margin-right: -$grid-gap-side;
  margin-bottom: $grid-gap;
  > * {
    margin-left: $grid-gap-side;
    margin-right: $grid-gap-side;
  }
}

.col {
  flex: 1 0 0%;
}

@mixin col($size) {
  flex: 0 0 auto;
  width: calc(#{percentage($size / $grid-colums)} - #{$grid-gap});
}

@for $i from 1 through $grid-colums {
  .col-#{$i} {
    @include col($i);
  }
}
