*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 22px;
}
//temporary properties
.block {
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 20px;
  text-align: center;
  height: 100%;
}

//container
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;

  outline: solid 2px #ddd;
}

//row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.col {
  flex: 1 0 0%;
  margin-left: 15px;
  margin-right: 15px;
}
